<div class = "one-third">
  <div class = "sidebar_container">
    Search:
    <input type="text" placeholder = "search.."/><br /><br />
    <h2>Categories</h2>
    <ul>
      <li><a href = "#">Eastern art</a></li>
      <li><a href = "#">Thanka</a></li>
      <li><a href = "#">Abstract art</a></li>
    </ul>
  </div>
</div>