<div class = "one-third">
  <div class = "sidebar_container">
    Search:
    <input type="text" placeholder = "search.."/><br /><br />
    <h2>Categories</h2>
    <ul>
      <% @categories = Category.limit(5) %>
      <% @categories.each do |category| %>
        <li><%= link_to category.name, category_path(category.id)%></li>
      <% end %>

    </ul>
  </div>
</div>