<!-- Begin Slider -->
  <div id="piecemaker-container">
    <div id="piecemaker">
      <p><img src="/images/art/slider-1.jpg" alt="Delphic" /></p>
    </div>
  </div>
  <!-- End Slider -->

  <!-- Begin Wrapper -->
  <div id="wrapper">

    <!-- Begin Intro -->
    <div class="intro">
      <h1>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium. Praesent urna urna, venenatis at ultrices ac, viverra in turpis. Duis sceler isque mauri sut metus. </h1>
    </div>
    <!-- End Intro -->

    <!-- Begin About -->
    <div id="about">
      <div class="one-fourth"> <a href="#"><img src="/images/art/home-1.jpg" alt="" /></a>
        <h4>Phasellus Risus Quam</h4>
        <p>Morbi non nunc nec ipsum tincidunt luctus aliquam vel nisi. Donec eu accumsan elit.</p>
      </div>
      <div class="one-fourth"> <a href="#"><img src="/images/art/home-2.jpg" alt="" /></a>
        <h4>Maecenas Tincidunt</h4>
        <p>Nulla facilisi. Aenean porttitor cursus aliquet. Praesent sit amet dictum lacus. Risus eget augue.</p>
      </div>
      <div class="one-fourth"> <a href="#"><img src="/images/art/home-3.jpg" alt="" /></a>
        <h4>Pellentesque suscipit</h4>
        <p>Vivamus placerat viverra posuere. Duis quis luctus diam. Aliquam a mi id vel orci lectus.</p>
      </div>
      <div class="one-fourth last"> <a href="#"><img src="/images/art/home-4.jpg" alt="" /></a>
        <h4>Donec Eust Adipiscing</h4>
        <p>Sed eu lorem sed lectus interdum vehicula. Praesent sit amet risus eget augue semper.</p>
      </div>
    </div>
    <!-- End About -->

  </div>

