<!-- Begin Footer -->
<div id="footer-wrapper">
  <div id="footer">
    <div id="footer-content">

      <!-- Begin Copyright -->
      <div id="copyright">
        <p>© Copyright 2011 Delphic | Creative Portfolio Template</p>
      </div>
      <!-- End Copyright -->

      <!-- Begin Social Icons -->
      <div id="socials">
        <ul>
          <li><a href="#"><img src="/images/icon-rss.png" alt="" /></a></li>
          <li><a href="#"><img src="/images/icon-twitter.png" alt="" /></a></li>
          <li><a href="#"><img src="/images/icon-dribble.png" alt="" /></a></li>
          <li><a href="#"><img src="/images/icon-tumblr.png" alt="" /></a></li>
          <li><a href="#"><img src="/images/icon-flickr.png" alt="" /></a></li>
          <li><a href="#"><img src="/images/icon-facebook.png" alt="" /></a></li>
        </ul>
      </div>
      <!-- End Social Icons -->

    </div>
  </div>
</div>
<!-- End Footer -->

